Repository leoCardosoDev/biblioteca_falero_frontend_react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, vitest related --run, prettier --write

fix: resolve user list test failures and improve coverage
  src/presentation/react/pages/user-list/user-list-view.tsx
  tests/presentation/react/pages/user-list/user-list-view.spec.tsx
  vitest.config.ts
Due: eslint --fix, vitest related --run

feat: add deletedAt field to user model
  src/domain/models/user.ts
Due: eslint --fix, vitest related --run

feat: implement confirmation modal component
  src/presentation/react/components/ui/confirmation-modal.tsx
  src/presentation/react/components/ui/index.ts
  tests/presentation/react/components/ui/confirmation-modal.spec.tsx
Due: eslint --fix, vitest related --run

feat: filter out soft-deleted users in user management hook
  src/presentation/react/hooks/use-user-management.ts
  tests/presentation/react/hooks/use-user-management.spec.ts
Due: eslint --fix, vitest related --run

feat: integrate confirmation modal and update user list view
  src/presentation/react/pages/user-list/user-list-controller.tsx
  src/presentation/react/pages/user-list/user-list-view.tsx
  tests/presentation/react/pages/user-list/user-list-view.spec.tsx
Due: eslint --fix, vitest related --run

chore: add npm install
  package-lock.json
Due: prettier --write

feat: add Spinner component for loading states
  package-lock.json
  src/.gitignore
  src/README.md
  src/main/factories/app-factory.tsx
  src/package-lock.json
  src/package.json
  src/presentation/react/app.tsx
  src/presentation/react/components/forms/parts/book/book-categorization.tsx
  src/presentation/react/components/forms/parts/book/book-cover-upload.tsx
  src/presentation/react/components/forms/parts/book/book-general-info.tsx
  src/presentation/react/components/forms/parts/book/book-technical-info.tsx
  src/presentation/react/components/forms/parts/loan/loan-participants.tsx
  src/presentation/react/components/forms/parts/loan/loan-terms.tsx
  src/presentation/react/components/forms/parts/reservation/reservation-details.tsx
  src/presentation/react/components/forms/parts/reservation/reservation-participants.tsx
  src/presentation/react/components/forms/parts/user/user-address.tsx
  src/presentation/react/components/forms/parts/user/user-general-info.tsx
  src/presentation/react/components/layout/header.tsx
  src/presentation/react/components/layout/sidebar.tsx
  src/presentation/react/components/ui/index.ts
  src/presentation/react/components/ui/input.tsx
  src/presentation/react/components/ui/modal.tsx
  src/presentation/react/components/ui/select.tsx
  src/presentation/react/components/ui/spinner.tsx
  src/tsconfig.json
  src/vite.config.ts
Due: eslint --fix, vitest related --run, prettier --write

feat: implement manual chunks and lazy loading for bundle optimization
  src/main/factories/app-factory.tsx
  src/main/factories/pages/login/login-factory.tsx
  src/presentation/react/pages/index.ts
  vite.config.ts
Due: eslint --fix, vitest related --run

chore: save local work for migration
  barrel-frontend.md
  src/presentation/react/pages/loans/loans.tsx
  src/presentation/react/pages/login/login-controller.tsx
  src/presentation/react/pages/login/login.tsx
  tests/domain/mocks/mock-load-city-by-id.ts
Due: eslint --fix, vitest related --run, prettier --write

chore: add config
  commitlint.config.js
  nginx.conf
  postcss.config.js
Due: eslint --fix, vitest related --run

docs: add implementation
  implementation_plan.md
Due: prettier --write

chore: remove barrel
  barrel-frontend.md
Due: prettier --write

chore: setup project structure and linting (task-01)
  eslint.config.js
  src/modules/.gitkeep
  tsconfig.app.json
  vite.config.ts
Due: eslint --fix, vitest related --run, prettier --write

feat: implement shared ui foundation (task-02)
  src/shared/.gitkeep
  src/shared/ui/button-variants.ts
  src/shared/ui/button.tsx
  src/shared/ui/index.ts
  src/shared/ui/lib/index.ts
  src/shared/ui/lib/utils.ts
Due: eslint --fix, vitest related --run

feat: implement infra server state (task-03)
  src/shared/index.ts
  src/shared/infra/http/axios-adapter.ts
  src/shared/infra/http/index.ts
  src/shared/infra/http/types.ts
  src/shared/infra/index.ts
  src/shared/infra/query/QueryProvider.tsx
  src/shared/infra/query/index.ts
  src/shared/infra/query/query-client.ts
  tests/shared/infra/http/axios-adapter.spec.ts
  tests/shared/infra/query/query-client.spec.ts
Due: eslint --fix, vitest related --run

feat: implement global client state with zustand (task-04)
  src/shared/store/adapter.ts
  src/shared/store/index.ts
  src/shared/store/slices/index.ts
  src/shared/store/slices/session-slice.ts
  src/shared/store/slices/sidebar-slice.ts
  src/shared/store/slices/theme-slice.ts
  src/shared/store/use-app-store.ts
  tests/shared/store/use-app-store.spec.ts
Due: eslint --fix, vitest related --run

feat: initialize TanStack Router with code-based routing (task-05)
  package-lock.json
  package.json
  src/main/router/components.tsx
  src/main/router/index.ts
  src/main/router/root-route.tsx
  src/main/router/router.tsx
  tests/main/router/root-route.spec.tsx
  tests/main/router/router.spec.ts
Due: eslint --fix, vitest related --run, prettier --write

feat(identity): establish module skeleton and factory-based routing (task-06)
  src/modules/identity/application/index.ts
  src/modules/identity/domain/index.ts
  src/modules/identity/infra/index.ts
  src/modules/identity/presentation/index.ts
  src/modules/identity/presentation/pages/LoginPage.tsx
  src/modules/identity/presentation/routes.ts
  src/modules/identity/public/index.ts
Due: eslint --fix, vitest related --run

feat: implement geography module skeleton (task-07)
  src/modules/geography/presentation/pages/LocationsListPage.tsx
  src/modules/geography/presentation/routes.ts
  src/modules/geography/public/index.ts
Due: eslint --fix, vitest related --run

feat: refactor module routes to pathless layouts (task-08)
  src/modules/geography/presentation/routes.ts
  src/modules/identity/presentation/routes.ts
Due: eslint --fix, vitest related --run

feat: compose main router with identity and geography routes (task-08)
  src/main/router/router.tsx
Due: eslint --fix, vitest related --run

feat: implement main App component and wire composition root (task-08)
  src/main/App.tsx
  src/main/index.tsx
Due: eslint --fix, vitest related --run

chore: change spec
  implementation_plan.md
Due: prettier --write

feat: implement identity module with domain layer, Zustand store, and TanStack Query hooks (task-09)
  src/modules/identity/application/hooks/index.ts
  src/modules/identity/application/hooks/use-identity-hooks.ts
  src/modules/identity/application/index.ts
  src/modules/identity/application/protocols/identity-repository.ts
  src/modules/identity/application/protocols/index.ts
  src/modules/identity/application/store/index.ts
  src/modules/identity/application/store/use-auth-store.ts
  src/modules/identity/domain/entities/index.ts
  src/modules/identity/domain/entities/user.ts
  src/modules/identity/domain/errors/index.ts
  src/modules/identity/domain/errors/invalid-cpf-error.ts
  src/modules/identity/domain/errors/invalid-email-error.ts
  src/modules/identity/domain/errors/invalid-name-error.ts
  src/modules/identity/domain/index.ts
  src/modules/identity/domain/value-objects/address.ts
  src/modules/identity/domain/value-objects/cpf.ts
  src/modules/identity/domain/value-objects/email.ts
  src/modules/identity/domain/value-objects/index.ts
  src/modules/identity/domain/value-objects/name.ts
  src/modules/identity/domain/value-objects/user-role.ts
  src/modules/identity/domain/value-objects/user-status.ts
  src/modules/identity/index.ts
  src/modules/identity/infra/http-identity-repository.ts
  src/modules/identity/infra/index.ts
  src/modules/identity/presentation/index.ts
  src/modules/identity/presentation/pages/LoginPage.tsx
  src/modules/identity/presentation/pages/UserListPage.tsx
  src/modules/identity/presentation/pages/index.ts
  src/shared/index.ts
  src/shared/lib/either.ts
  src/shared/lib/index.ts
Due: eslint --fix, vitest related --run

chore: refactor library
  src/domain/models/book.ts
  src/domain/models/loan.ts
  src/domain/models/reservation.ts
  src/domain/usecases/load-books.ts
  src/domain/usecases/load-loans.ts
  src/main/router/router.tsx
  src/modules/library/application/useBookDetails.ts
  src/modules/library/application/useBooks.ts
  src/modules/library/application/useCreateLoan.ts
  src/modules/library/application/useLoans.ts
  src/modules/library/domain/Book.ts
  src/modules/library/domain/LibraryRepository.ts
  src/modules/library/domain/Loan.ts
  src/modules/library/domain/Reservation.ts
  src/modules/library/domain/index.ts
  src/modules/library/infra/BookMapper.ts
  src/modules/library/infra/HttpLibraryRepository.ts
  src/modules/library/infra/LoanMapper.ts
  src/modules/library/infra/dtos.ts
  src/modules/library/presentation/BookDetailsPage.tsx
  src/modules/library/presentation/BookListPage.tsx
  src/modules/library/presentation/LoanHistoryPage.tsx
  src/modules/library/public/index.ts
  src/presentation/react/pages/books/books-controller.tsx
  src/presentation/react/pages/books/books-view.tsx
  src/presentation/react/pages/books/books.tsx
  src/presentation/react/pages/books/index.ts
  src/presentation/react/pages/loans/index.ts
  src/presentation/react/pages/loans/loans-controller.tsx
  src/presentation/react/pages/loans/loans-view.tsx
  src/presentation/react/pages/loans/loans.tsx
Due: eslint --fix, vitest related --run

chore: setup dependency cruiser and update build config
  .dependency-cruiser-known-violations.json
  .dependency-cruiser.cjs
  tsconfig.app.json
  vite.config.ts
Due: eslint --fix, vitest related --run, prettier --write

refactor(identity): migrate identity module to strict clean architecture
  src/modules/identity/application/dtos/index.ts
  src/modules/identity/application/hooks/index.ts
  src/modules/identity/application/index.ts
  src/modules/identity/application/protocols/identity-repository.ts
  src/modules/identity/application/usecases/index.ts
  src/modules/identity/application/usecases/load-user-by-id-usecase.ts
  src/modules/identity/application/usecases/load-users-usecase.ts
  src/modules/identity/application/usecases/login-usecase.ts
  src/modules/identity/application/usecases/logout-usecase.ts
  src/modules/identity/domain/value-objects/cpf.ts
  src/modules/identity/domain/value-objects/email.ts
  src/modules/identity/domain/value-objects/name.ts
  src/modules/identity/infra/adapters/identity-query-hooks.ts
  src/modules/identity/infra/adapters/index.ts
  src/modules/identity/infra/index.ts
  src/modules/identity/infra/store/index.ts
  src/modules/identity/infra/store/use-auth-store.ts
  src/modules/identity/presentation/components/LoginForm.tsx
  src/modules/identity/presentation/components/login-header.tsx
  src/modules/identity/presentation/pages/LoginPage.tsx
  src/modules/identity/presentation/pages/UserListPage.tsx
  tests/modules/identity/application/usecases/login-usecase.spec.ts
Due: eslint --fix, vitest related --run

refactor(geography): migrate geography module to strict clean architecture
  src/modules/geography/application/hooks/index.ts
  src/modules/geography/application/index.ts
  src/modules/geography/application/protocols/geography-repository.ts
  src/modules/geography/application/use-cases/get-address-by-zipcode-use-case.ts
  src/modules/geography/application/use-cases/get-cities-use-case.ts
  src/modules/geography/application/use-cases/get-neighborhoods-use-case.ts
  src/modules/geography/application/use-cases/get-states-use-case.ts
  src/modules/geography/application/use-cases/index.ts
  src/modules/geography/index.ts
  src/modules/geography/infra/adapters/geography-query-adapters.ts
  src/modules/geography/infra/adapters/index.ts
  src/modules/geography/infra/http/http-geography-repository.ts
  src/modules/geography/infra/index.ts
  src/modules/geography/public/index.ts
Due: eslint --fix, vitest related --run

refactor(library): migrate library module to strict clean architecture
  src/modules/library/application/repositories/library.repository.ts
  src/modules/library/application/useBookDetails.ts
  src/modules/library/application/useBooks.ts
  src/modules/library/application/useCreateLoan.ts
  src/modules/library/application/useLoans.ts
  src/modules/library/application/usecases/create-loan.usecase.ts
  src/modules/library/application/usecases/index.ts
  src/modules/library/application/usecases/load-book-by-id.usecase.ts
  src/modules/library/application/usecases/load-books.usecase.ts
  src/modules/library/application/usecases/load-loans.usecase.ts
  src/modules/library/domain/LibraryRepository.ts
  src/modules/library/domain/index.ts
  src/modules/library/infra/BookMapper.ts
  src/modules/library/infra/HttpLibraryRepository.ts
  src/modules/library/infra/LoanMapper.ts
  src/modules/library/infra/adapters/index.ts
  src/modules/library/infra/adapters/queries/index.ts
  src/modules/library/infra/adapters/queries/use-create-loan.mutation.ts
  src/modules/library/infra/adapters/queries/use-get-book-by-id.query.ts
  src/modules/library/infra/adapters/queries/use-get-books.query.ts
  src/modules/library/infra/adapters/queries/use-get-loans.query.ts
  src/modules/library/infra/dtos.ts
  src/modules/library/infra/index.ts
  src/modules/library/infra/repositories/http-library.repository.ts
  src/modules/library/presentation/BookDetailsPage.tsx
  src/modules/library/presentation/BookListPage.tsx
  src/modules/library/presentation/LoanHistoryPage.tsx
  src/modules/library/presentation/hooks/index.ts
  src/modules/library/presentation/hooks/use-book-details.ts
  src/modules/library/presentation/hooks/use-books.ts
  src/modules/library/presentation/hooks/use-loans.ts
  src/modules/library/presentation/pages/book-list.page.tsx
  src/modules/library/presentation/router/library.routes.tsx
Due: eslint --fix, vitest related --run

refactor(reports): migrate reports module to strict clean architecture
  src/modules/reports/application/hooks/index.ts
  src/modules/reports/application/hooks/use-reports-hooks.ts
  src/modules/reports/application/index.ts
  src/modules/reports/application/use-cases/get-dashboard-stats.use-case.ts
  src/modules/reports/application/use-cases/index.ts
  src/modules/reports/infra/adapters/index.ts
  src/modules/reports/infra/adapters/use-reports-query.adapter.ts
  src/modules/reports/infra/index.ts
  src/modules/reports/infra/repositories/http-reports.repository.ts
  src/modules/reports/infra/repositories/index.ts
  src/modules/reports/presentation/hooks/index.ts
  src/modules/reports/presentation/index.ts
  src/modules/reports/presentation/pages/ReportsPage.tsx
  src/modules/reports/presentation/pages/ReportsView.tsx
Due: eslint --fix, vitest related --run

refactor(main): update factories and composition root
  src/main/decorators/authorize-http-client-decorator.ts
  src/main/factories/app-factory.tsx
  src/main/factories/auth/auth-facade-factory.ts
  src/main/factories/cache/cache-factory.ts
  src/main/factories/http/api-client-factory.ts
  src/main/factories/pages/books/books-factory.tsx
  src/main/factories/pages/loans/loans-factory.tsx
  src/main/factories/pages/login/login-factory.tsx
  src/main/factories/pages/reservations/reservations-factory.tsx
  src/main/factories/pages/settings/settings-factory.tsx
  src/main/factories/pages/user-list/user-list-factory.tsx
  src/main/factories/usecases/make-remote-add-user-login.ts
  src/main/factories/usecases/make-remote-add-user.ts
  src/main/factories/usecases/make-remote-delete-user.ts
  src/main/factories/usecases/make-remote-load-address-by-zip-code.ts
  src/main/factories/usecases/make-remote-load-city-by-id.ts
  src/main/factories/usecases/make-remote-load-neighborhood-by-id.ts
  src/main/factories/usecases/make-remote-load-state-by-id.ts
  src/main/factories/usecases/make-remote-load-user-by-id.ts
  src/main/factories/usecases/make-remote-load-users.ts
  src/main/factories/usecases/make-remote-manage-user-access.ts
  src/main/factories/usecases/make-remote-update-user.ts
  src/main/factories/validation/book-validation-factory.ts
  src/main/factories/validation/loan-validation-factory.ts
  src/main/factories/validation/login-validation-factory.ts
  src/main/factories/validation/reservation-validation-factory.ts
  src/main/factories/validation/user-validation-factory.ts
Due: eslint --fix, vitest related --run

refactor(dashboard): update dashboard module
  src/modules/dashboard/presentation/components/AttentionTable.tsx
  src/modules/dashboard/presentation/components/LoanFlowChart.tsx
  src/modules/dashboard/presentation/components/QuickActionsWidget.tsx
  src/modules/dashboard/presentation/components/StatCard.tsx
  src/modules/dashboard/presentation/components/TopBooksWidget.tsx
  src/modules/dashboard/presentation/pages/DashboardView.tsx
Due: eslint --fix, vitest related --run

chore: update project configuration and dependencies
  .husky/pre-push
  eslint.config.js
  package-lock.json
  package.json
Due: eslint --fix, vitest related --run, prettier --write

chore: setup playwright and split vitest configs (task-testing-01)
  .gitignore
  package.json
  playwright.config.ts
  tests/e2e/sanity.spec.ts
  vitest.config.ts
  vitest.integration.config.ts
  vitest.unit.config.ts
Due: eslint --fix, vitest related --run, prettier --write

refactor: move shared store tests to infra layer (task_testing_02_shared)
  tests/shared/infra/store/use-app-store.test.ts
Due: eslint --fix, vitest related --run

chore: scaffold shared module testing layers (task_testing_02_shared)
  tests/shared/application/.gitkeep
  tests/shared/domain/.gitkeep
  tests/shared/presentation/.gitkeep
Due: none

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  vitest related --run: any of: *.{ts,tsx,js,jsx}
  prettier --write: any of: *.{json,md,css}
